
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$prussianBlue: #003153;
$lightBlue: #2258a5;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$courier: Courier, monospace;
$courierNeue: "Courier New", Courier, monospace;
$fira-font-family: "Fira Code", monospace !default;
$fira-font-weight: 300;
$fira-font-size:   90%;
$fira-line-height: 1.4;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
